<main class="feedbacks__page">
  <% unless user_signed_in? %>
    <div class="feedbacks__logo">
      <%= image_tag "pix-360-logo.svg", alt: 'Logo Pix 360', :class => "pix-360-logo__image"%>
    </div>
  <% end %>
  <% if @feedback.is_submitted %>
    <h1 class="feedbacks__title">Évaluation envoyée</h1>
    <div class="feedbacks__content">
      <div class="feedbacks-content__information">
        Pour <%= @feedback.requester.full_name %>
      </div>
      <div class="feedbacks-content__details">
        Le <%= @feedback.updated_at.strftime("%d/%m/%Y") %>
      </div>
    </div>
    <%= render "content" %>

    <% if user_signed_in? %>
      <div class="feedbacks__actions">
        <%= link_to 'Retour aux évaluations', feedbacks_path, class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-transparent-light pix-button--border' %>
      </div>
    <% end %>
  <% else %>
    <h1 class="feedbacks__title">Modification de l'évaluation</h1>
    <div class="feedbacks__content">
      <div class="feedbacks-content__information">
        Pour <%= @feedback.requester.full_name %>
      </div>
      <div class="feedbacks-content__details">
        Demandée le <%= @feedback.created_at.strftime("%d/%m/%Y") %>
      </div>
    </div>

    <%= form_with model: @feedback, class: 'feedbacks__form' do |form| %>
      <% if @feedback.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

          <ul>
            <% @feedback.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :decrypted_shared_key %>

      <% unless @feedback.new_decrypted_shared_key.blank? %>
      <%= form.hidden_field :new_decrypted_shared_key %>
      <% end %>

      <div class="feedbacks-content">
        <div class="feedbacks-content__details">
          Les champs de saisie de ce formulaire acceptent <a href="https://www.markdownguide.org/cheat-sheet/">le markdown</a>.
        </div>
      </div>

      <% if @feedback.decrypted_content.key?(:questions) %>
        <% @feedback.decrypted_content[:questions].each_with_index do |question, index| %>

          <div class="feedbacks__field">
            <label for="feedbacks_content_<%= index -%>" class="feedbacks-field__label">
                <%= question[:label] %>
            </label>
            <% if question[:type] == 'textarea' %>
              <textarea id="feedbacks_content_<%= index -%>" class="feedbacks-field__input" name="feedback[content][answers][]"><%= @feedback.decrypted_content[:answers][index] || '' %></textarea>
            <% end %>
          </div>
        <% end %>
      <% else %>

          <div class="feedbacks__field">
            <label for="feedbacks_content_positive_points" class="feedbacks-field__label">Points positifs</label>
            <textarea id="feedbacks_content_positive_points"  class="feedbacks-field__input" name="feedback[content][positive_points]"><%= @feedback.decrypted_content[:positive_points] %></textarea>
          </div>

          <div class="feedbacks__field">
            <label for="feedbacks_content_improvements_areas" class="feedbacks-field__label">Axes d'amélioration</label>
            <textarea id="feedbacks_content_improvements_areas"  class="feedbacks-field__input" name="feedback[content][improvements_areas]"><%= @feedback.decrypted_content[:improvements_areas]%></textarea>
          </div>

          <div class="feedbacks__field">
            <label for="feedbacks_content_comments" class="feedbacks-field__label">Commentaires</label>
            <textarea id="feedbacks_content_comments"  class="feedbacks-field__input" name="feedback[content][comments]"><%= @feedback.decrypted_content[:comments]%></textarea>
          </div>
      <% end %>


      <div class="feedbacks__actions">
        <%= form.button "Enregistrer", class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-transparent-light pix-button--border' %>
        <%= form.button "Enregistrer et envoyer", name: 'submit', data: { confirm: "Êtes-vous sûr d'envoyer l'évaluation ? Vous ne pourrez plus la modifier." }, class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-blue' %>
      </div>
    <% end %>
  <% end %>
</main>
