<p id="notice"><%= notice %></p>
<main class="index-feedback__page">
<h1 class="index-feedback__title">Mes évaluations</h1>

<%= link_to 'Demander une évaluation', new_feedback_path, class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-blue' %>

<br>

 <div class="index-feedback__row">

  <% @feedbacks.each do |feedback| %>

    <div class="index-feedback__column">
      <% if feedback.respondent_id == nil %>
        <p>Aucune réponse</p>
      <% else %>
      <%= "Remplie par #{feedback.requester.first_name} #{feedback.requester.last_name}"%>
          <%= "le : #{feedback.updated_at.strftime("%d/%m/%y à %Hh%M")}"%>
      <% end %>
      <%= link_to '👁 Ouvrir', feedback, class: 'pix-button pix-button--shape-rounded pix-button--size-little pix-button--background-blue' %>
      <%= link_to '🗑 Supprimer', feedback, class: 'pix-button pix-button--shape-rounded pix-button--size-little pix-button--background-blue', method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
    </div>

  <% end %>

</div>