<%= javascript_pack_tag 'clipboard' %>
<main class="show-feedback__page">
  <h1 class="show-feedback__title">Évaluation</h1>

  <div class="show-feedback__link">
    <button class="show-feedback--link pix-button pix-button--background-blue pix-button--size-big pix-button--shape-rounded" data-clipboard-text="<%= edit_feedback_link @feedback %>">
      <%= fa_icon "copy", class: "show-feedback-link__icon" %>
      Copier le lien
    </button>
  </div>

  <div class="show-feedback__field">
    <div class="show-feedback-field__label">Points positifs</div>
    <div class="show-feedback-field__input">
      <%= sanitize markdown(@feedback.decrypted_content[:positive_points]) %>
    </div>
  </div>

  <div class="show-feedback__field">
    <div class="show-feedback-field__label">Axes d'amélioration</div>
    <div class="show-feedback-field__input">
      <%= sanitize markdown(@feedback.decrypted_content[:improvements_areas]) %>
    </div>
  </div>

  <div class="show-feedback__field">
    <div class="show-feedback-field__label">Commentaires</div>
    <div class="show-feedback-field__input">
      <%= sanitize markdown(@feedback.decrypted_content[:comments]) %>
    </div>
  </div>

  <div class="show-feedback__actions">
    <%= link_to 'Retour aux évaluations', feedbacks_path, class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-transparent-light pix-button--border' %>
    <%= link_to 'Supprimer', @feedback, method: :delete, data: { confirm: 'Êtes-vous sûr ?'}, class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-red' %>
  </div>

</main>
