<%= javascript_pack_tag 'clipboard' %>
<main class="feedbacks__page">
  <h1 class="feedbacks__title">Évaluation</h1>

  <% if @feedback.is_submitted %>
    <div class="feedbacks-content">
      <div class="feedbacks-content__information">
        <%= @feedback.giver ? "Par #{@feedback.giver.full_name}" : "Par #{@feedback.decrypted_respondent_information[:full_name]}" %>
      </div>
      <div class="feedbacks-content__details">
        Reçue le <%= @feedback.updated_at.strftime("%d/%m/%Y") %>
      </div>
    </div>

    <%= render "content" %>

  <% else %>
    <div class="feedbacks-content">
      <div class="feedbacks-content__details">
        Démandée le <%= @feedback.created_at.strftime("%d/%m/%Y") %> à <%= @feedback.decrypted_respondent_information[:full_name] %>
      </div>
    </div>

    <div class="show-feedback__link">
      <button class="show-feedback--link pix-button pix-button--background-blue pix-button--size-big pix-button--shape-rounded" data-clipboard-text="<%= edit_feedback_link @feedback %>">
        <%= fa_icon "copy", class: "show-feedback-link__icon" %>
        Copier le lien
      </button>
    </div>

    <div class="feedbacks-content">
      <div class="feedbacks-content__information">
        L'évaluation n'a pas encore reçu de réponse.
      </div>
    </div>
  <% end %>

  <div class="feedbacks__actions">
    <%= link_to 'Retour aux évaluations', feedbacks_path, class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-transparent-light pix-button--border' %>
    <%= link_to 'Supprimer', @feedback, method: :delete, data: { confirm: 'Êtes-vous sûr ?'}, class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-red' %>
  </div>

</main>
