<div class="encryption-edit-page">
  <main class="encryption-edit__container">

    <div class="encryption-edit__header">
      <h1 class="encryption-edit-header__title">Saisissez un mot de passe</h1>
      <div class="encryption-edit-header__subtitle">
        <p>Afin de chiffrer vos données, vous devez renseigner un mot de passe.</p>
        <p>La perte de ce mot de passe entrainera la perte de toutes vos données.</p>
      </div>
    </div>

    <%= form_with model: @user, url: encryption_update_path, class: 'encryption-edit__body' do |f| %>
      <%= f.hidden_field :must_change_password, value: false %>

      <% if f.object.errors.any? %>
        <div class="alert alert-danger">
          <% f.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>

      <div class="encryption-body__field">
        <%= f.label :password, "Nouveau mot de passe", class: 'encryption-field__label' %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'encryption-field__input' %>
      </div>

      <div class="encryption-body__field">
        <%= f.label :password_confirmation, "Confirmez votre mot de passe", class: 'encryption-field__label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'encryption-field__input' %>
      </div>

      <div class="encryption-body__button">
        <%= f.submit "J'enregistre mon mot de passe", class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-blue' %>
      </div>
    <% end %>
  </main>
</div>
