<div class="encryption-index-page">
  <main class="encryption-index__container">

    <div class="encryption-index__header">
      <h1 class="encryption-index-header__title">Authentification</h1>
      <p class="encryption-index-header__subtitle">Votre mot de passe sert à chiffrer vos données.</p>
    </div>

    <%= form_with model: current_user, url: encryption_save_path, class: 'encryption-edit__body' do |f| %>
      <% if f.object.errors.any? %>
        <div class="alert alert-danger">
          <% f.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>

      <div class="encryption-body__field">
        <%= f.label :password, "Mot de passe", class: 'encryption-field__label' %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "password", class: 'encryption-field__input' %>
      </div>

      <div class="encryption-body__button">
        <%= f.submit "Confirmer", class: 'pix-button pix-button--shape-rounded pix-button--size-big pix-button--background-blue' %>
      </div>
    <% end %>
  </main>
</div>
