<h1>Veuillez insérer votre mot de passe ?</h1>
<p>Nous avons besoin de votre mot de passe pour chiffrer et déchiffrer vos données</p>
<%= form_with model: current_user, url: encryption_save_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <% f.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Mot de passe" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "password" %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyer" %>
  </div>
<% end %>
