<div class="navbar">
  <nav>
    <%= link_to image_tag("pix-360-logo.svg", :class => "pix-360-logo__image"), root_path %>
    <div class="navbar__center">
      <%= link_to "Évaluations reçues", feedbacks_path, class:"navbar__item" %>
      <%= link_to "Évaluations données", given_feedbacks_path, class:"navbar__item" %>
    </div>
    <div class="navbar__left">
      <div class="navbar-left__item">
        <%= current_user.full_name %>
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"navbar__item" %>
      </div>
    </div>
  </nav>
</div>